<div class="misyon-container">
  <h2 class="italic-text centered-text">Misyonumuz</h2>
  <p class="spaced-text">
    Bulut ve Platform teknolojilerini etkin ve verimli bir şekilde kullanarak, müşterilerine kaliteli,
    hızlı ve güvenli çözümler sunmaktır.Aynı zamanda, yapay zeka ile desteklenen Bulut ve Platform teknolojilerinin entegre edilmesiyle,
    Migros'un dijital dönüşümünü kolaylaştırmaktır.
  </p>
</div>

<style>
.misyon-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Tüm içeriği ortalamak için */
}
.italic-text {
  font-style: italic;
}
.centered-text {
  text-align: center; /* Başlığı ortalamak için */
}
.spaced-text {
  margin-top: 10px;
  line-height: 1.6;
  word-wrap: break-word; /* Kelimelerin belirli bir genişlikte sarılmasını sağlamak için */
  text-align: justify; /* Metni yaslamak için */
}
</style>