.ekibimiz-container {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 2em;
    margin-bottom: 3em; /* 3 lines of space */
    color: #333;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
  }

  .italic-text {
    font-style: italic;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 2em; /* 2 lines of space */


      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .member-info {
        h2 {
          margin: 0;
          font-size: 1.2em;
        }

        p {
          margin: 0;
          color: #666;
        }
      }
    }
  }
}