<div class="vizyon-container">
  <h2 class="italic-text centered-text">Vizyonumuz</h2>
  <p class="spaced-text">
    Bulut ve Platform teknolojileri alanında lider, yenilikçi ve güvenilir bir takım olmaktır.
  </p>
</div>

<style>
.vizyon-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Tüm içeriği ortalamak için */
}
.italic-text {
  font-style: italic;
}
.centered-text {
  text-align: center; /* Başlığı ortalamak için */
}
.spaced-text {
  margin-top: 10px;
  line-height: 1.6;
  
}
</style>