<div class="degerlerimiz-container">
  <h1>Değerlerimiz</h1>
  <p><strong><u>Bizim için önemli olan değerler:</u></strong></p>
  <ul>
    <li><strong>Müşteri Odaklılık:</strong> Müşterilerinin ihtiyaçlarını ve beklentilerini anlar ve onlara en uygun çözümleri sunar.</li>
    <li><strong>Takım Ruhu:</strong> Birlikte çalışmayı, birlikte öğrenmeyi ve birlikte başarmayı önemser. Takım üyelerinin fikirlerine, katkılarına ve gelişimlerine değer verir.</li>
    <li><strong>Yenilikçilik:</strong> Bulut ve platform teknolojilerindeki en son gelişmeleri takip eder ve bunları kendi çalışmalarına uyarlar. Takım; yaratıcı, akılcı ve dinamik bir yaklaşımla sürekli kendini geliştirir ve iyileştirir.</li>
    <li><strong>Güvenilirlik:</strong> Alfa, bulut ve platform teknolojilerindeki güvenlik ve kalite standartlarına uygun çalışır. Alfa, müşterilerine ve takım üyelerine karşı dürüst, şeffaf ve sorumlu davranır.</li>
  </ul>
</div>