<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vsphere Compute Inventory</title>
    <meta http-equiv="Content-Security-Policy" content="
        default-src https: wss: data: 'unsafe-inline' 'unsafe-eval'; 
        child-src *; 
        worker-src 'self';
        script-src 'self' 'unsafe-eval' https://fonts.googleapis.com;
        style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
        style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com;
        font-src 'self' https://fonts.gstatic.com;
        img-src 'self' data:;
        frame-src 'self' https://miatstvro01.migros.local;
    ">
    <link rel="stylesheet" href="page500.component.scss">
</head>
<body>
    <iframe 
        src="https://miatstvro01.migros.local/ui?t=jrzv63go4r#1zixxbjllx" 
        frameborder="0" 
        scrolling="no" 
        allowtransparency="true" 
        allowfullscreen="true" 
        marginwidth="0" 
        marginheight="0" 
        class="custom-iframe" 
        width="100%" 
        height="100%"
        title="Embedded Content">
    </iframe>
</body>
</html>