body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.custom-iframe {
    border: none;
    position: relative;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

th {
    text-align: inherit;
}